version: '3'

services:
  server:
    build: ./server
    ports:
      - "3333:3333"
    volumes:
      - ./server:/app
      - /app/node_modules
    # Ensure SQLite file is persisted if updated
    environment:
      - DATABASE_URL="file:../src/database/db.sqlite"

  web:
    build: ./web
    ports:
      - "5173:80"
    depends_on:
      - server
